﻿body {
    margin: 0;
}

main {
    background: #ffffff;
    margin: 40px 200px;
    font-family: Poppins;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-weight: 500;
    font-size: 16px;
}

hr {
    margin: 0;
    color: #808080;
}

.upper-container {
    display: flex;
    justify-content: space-between;
}

.profile-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    border-radius: 20px;
    background-color: #FFAE5D;
    border: none;

    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}

.input-container {
    display: inline-flex;
    align-items: center;

    padding: 16px;
    border-radius: 20px;
    border: #80808080 solid 1px;
}

.input-container input {
    border: none;
    outline: none;

    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;    
}

.navbar-container {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container a {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color:#606060;
    line-height: 24px;

    text-decoration: none;
}

.recomended-container {     
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.black-title {
    font-family: Poppins;
    font-weight: 300;
    font-size: 96px;
    line-height: 100px;
    margin: 0;

    color: #000000;   
}

.orange-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    margin: 0;

    color: #FFAE5D;
}

.recomended-title-container {
    display: inline;
    width: 548px;
}

.hot-deals-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-title-container {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border-bottom: 2px dashed #FFAE5D;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.hot-deals-images-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hot-deals-images-row-container {
    display: flex;
    flex-direction: row;
    gap: 54px;
}

.product-icon-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
    width: 235px;
}

.product-icon-name-container {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.price-sale-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price-container {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.sale-container {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF3232;
}

.advertisement-container {
    margin-top: 60px;
}

.advertisement-container img {
    position: relative;
    width: 100%;
}

.todays-hot-deals-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.images-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;
}   

.your-searched-items-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.special-offer-on-furniture-container {
    margin-top: 60px;
    background-image: url(assets/special\ offer\ on\ furniture.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-offer-on-furniture-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 138px;
    padding-bottom: 437px;
}   

.special-offer-on-furniture-title-top-container {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #A29781;
    background-image: url(assets/Furniture.svg);
    background-repeat: no-repeat;   
    padding-left: 491px;
    padding-bottom: 113px;
}

.special-offer-on-furniture-title-container a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #606060;
    text-decoration: none;
}

.deals-on-furniture-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.review-your-purchase-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 120px;
}

.review-images-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.product-big-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 8px 10px 10px;

    border: solid 1px #81818180;
    border-radius: 20px;

    flex-grow: 1;
}

.product-big-icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    width: 306px;
}

.product-big-icon-text-name-container {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rating-text-container {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFAE5D;
}

footer {
    height: 200px;
    width: 100% 1920px;
    background: #404040;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-href-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.footer-href-container a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.language-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.language-container span {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}